In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

## 함수 만들기

In [3]:
def getEntropy(df, feature) :
    entropy = pd.DataFrame(df[feature].value_counts()).apply(lambda x: -sum((x/sum(x) * np.log2(x/sum(x))))).values[0]
    #dataframe에서 특정 feature에 대한 엔트로피를 구하기 위해 공식 lambda에 넣어 return하도록 하였습니다. 
    return(entropy)

In [4]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [7]:
def getGainA(df, feature):
    info_D = getEntropy(df, feature)
    columns = list(df.loc[:, df.columns!= feature])
    gains = []
    result = {}
    
    for column in columns:
        Info_Di = 0 #getEntropy가 구해졌기때문에 feature를 저장할 필요가 없습니다.
        new_df = df[column]
        for i in new_df.unique(): # unique함수를 통해 column의 개별인자들을 구하였습니다.
            newnew_df = df.loc[new_df==i] # newnew_df에 다시 개별인자들을 저장
            
            Info_Di += (len(newnew_df)/len(new_df)) * getEntropy(newnew_df, feature) #개별인자들의 Info_Di를 구하였습니다.
            #print(Info_Di)
            
        gains.append(info_D - Info_Di)
        
    result = dict(zip(columns, gains))
    return result

In [8]:
getGainA(df, "class_buys_computer")

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}

## 결과 확인하기

In [11]:
my_dict = getGainA(df, "class_buys_computer")
def f1(x):
    return my_dict[x]
key_max = max(my_dict.keys(), key=f1)
print('정보 획득이 가장 높은 변수는',key_max, "이며 정보 획득량은", my_dict[key_max], "이다.")

정보 획득이 가장 높은 변수는 age 이며 정보 획득량은 0.24674981977443933 이다.